.app {
  display: flex;
  display: -webkit-flex;
  position: absolute;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  background-color: rgb(245, 240, 235);
}

button {
  border: none;
  transition: 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 253, 252);
  background: transparent;
  cursor: pointer;
}

button:focus {
  outline: none !important;
}

button:active {
  transform: scale(0.95);
  outline: none !important;
  box-shadow: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 2s;
}
.fade-quick-enter-active, .fade-quick-leave-active {
  transition: opacity 0.3s;
}

.fade-enter, .fade-leave-to, .fade-quick-enter, .fade-quick-leave-to {
  opacity: 0;
}

.fade-expand-enter-active {
  transition: all 0.3s ease;
}
.fade-expand-leave-active {
  transition: all 0.3s ease;
}
.fade-expand-enter, .fade-expand-leave-to
{
  transform: scale(0.95);
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.material-icons {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.text-field {
  margin: 3px;
  padding: 3px 16px;
  padding-top: 5px;
  font-size: 24px;
  width: 28vw;
  height: 32px;
  border-radius:50px;
  resize: none;
  border: 1px solid rgb(184, 184, 184);
  box-shadow: 0 0 4px rgb(211, 210, 210);
  color: gray;
  font-family: "Montserrat";
  overflow-y: hidden;
  background-color: rgb(255, 253, 252);
  white-space: nowrap;
  overflow: hidden;
}

.text-field:focus {
  outline: none !important;
  background-color: white;
  border: 1px solid rgb(226, 193, 174);
  box-shadow: 0 0 4px 1px rgb(226, 193, 174);
  color: rgb(71, 7, 0);
}

.material-icons {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.select {
  cursor:pointer;
  outline:0;
  border:0!important;
  position: relative;
  display: flex;
  display: -webkit-flex;
  padding: 10px;
  margin: 10px;
  line-height: 3;
  background: rgb(213, 82, 68);
  overflow: hidden;
  border-radius: 5px;
  color: rgb(255, 253, 252);
  font-size: 20px;
}

.router-sub-page {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: var(--vh, 1vh);
  font-size: 20px;
  max-width: 988px;
  background: rgb(255, 253, 252);
  box-shadow: 0px 0px 4px rgb(171, 171, 171);

}

.page-body {
  padding: 0px 20px;
  color: rgb(80, 80, 80);
  overflow: auto;
  height: 100vh;
}

.sub-heading {
  margin: 20px 0px 10px 0px;
  font-weight: bold;
}

.sub-text {
  margin: 0px 0px 20px 10px;
  font-size: 18px;
  font-weight: normal;
}

#delete-icon {
  margin-left: 6px;
  color: rgb(187, 57, 42)
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.separator-line {
  border-bottom: 1px solid rgba(209, 80, 80, 0.418);
  margin: 8px 6px;
}

@media screen and (max-width: 800px){
.container {
  width: 100vw;
  overflow: hidden;
}
}

@media screen and (max-width: 800px){
.mobile-hide {
  display: none;
}
}

@media screen and (min-width: 800px){
.desktop-hide {
  display: none;
}
}